/* TODO: Find out how to do this one */
#root {
  /* height: 100%; */
}

.form-create-box {
  border: 2px solid #e7d8c7;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 25px;
  padding: 15px;
  gap: 15px;
}

.submit-header {
  margin-bottom: 30px;
}

.submit-header h1 {
  padding: 15px 0;
}

.option {
  margin-bottom: 25px;
}

#number,
#githuburl,
#branch,
#videourl {
  margin: 0;
}

.form-create input {
  min-width: 475px;
  margin-bottom: 15px;
  background-color: #f9f3e6;
}

.create-button button {
  width: 218px;
}

.success {
  text-align: center;
  position: relative;
  top: 155px;
}

.form-create-button button {
  width: 250px;
}
